//
// clock
//
//IO_LOC  "clk" 4; // PIN04_SYS_CLK: 27 MHz (generates warning PR1014)

// see https://wiki.sipeed.com/hardware/en/tang/tang-nano-20k/example/unbox.html#pll_clk
IO_LOC  "clk" 10; // PIN10_5351CKP: pll_clock: 27 MHz (does not generate warning PR1014)
//IO_LOC  "clk" 11; // PIN10_5351CKN: pll_clock: 27 MHz (generates warning PR1014)
//IO_LOC  "clk" 13; // PIN13_HSPI_SCLK: pll_clock: 27 MHz (generates warning PR1014)

//
// buttons
//
IO_LOC  "rst" 87; // PIN87_MODE1_KEY2
IO_LOC  "btn1" 88; // PIN88_MODE0_KEY1

//
// LEDs
//
IO_LOC  "led[0]" 15; // PIN15_SYS_LED0
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[1]" 16; // PIN16_SYS_LED1
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[2]" 17; // PIN17_SYS_LED2
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[3]" 18; // PIN18_SYS_LED3
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[4]" 19; // PIN19_SYS_LED4
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led[5]" 20; // PIN20_SYS_LED5
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

//
// UART
//
IO_LOC  "uart_tx" 69; // PIN69_SYS_TX
IO_LOC  "uart_rx" 70; // PIN70_SYS_RX

//
// SPI flash
//
IO_LOC  "flash_cs_n" 60; // MSPI_CS
IO_PORT "flash_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "flash_clk" 59; // MSPI_CLK
IO_PORT "flash_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "flash_miso" 62; // MSPI_DO
IO_PORT "flash_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "flash_mosi" 61; // MSPI_DI
IO_PORT "flash_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

//
// SD card
//
//IO_LOC "sd_clk" 83; // PIN83_SDIO_CLK
//IO_LOC "sd_cmd" 82; // PIN82_SDIO_CMD (MOSI)
//IO_LOC "sd_dat[0]" 84; // PIN84_SDIO_D0 (MISO)
//IO_LOC "sd_dat[1]" 85; // IN85_SDIO_D1
//IO_LOC "sd_dat[2]" 80; // PIN80_SDIO_D2
//IO_LOC "sd_dat[3]" 81; // PIN81_SDIO_D3
